.forecast {
  background-color: #fff;
  position: relative;
  padding: 20px 0;
  color: #434343;
  font-size: 28px;
  display: flex;
  ::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: #f0f0f0;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .item {
    flex: 1;
    padding: 20px 30px;
    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .top {
      margin-bottom: 10px;
    }
  }
}
