.index {
  background-color: #f9f9fe;
  .main {
    background-image: -webkit-linear-gradient(-90deg, #60a1c7, #6ae0fa);
    color: #fff;
    .pm {
      font-size: 28px;
      width: 10%;
      text-align: center;
      margin-left: 2%;
      border-radius: 16px;
      padding: 10px 0;
      .pmNum {
        line-height: 30px;
        margin-bottom: 10px;
      }
      .pmType {
        line-height: 30px;
      }
    }
  }
}
